<!--  -- ===================================================================
// --  proyecto : < 02-bases >
// --  seccion :  < AngularBases  > < seccion 05>
// --  file     :  sc_3\A01.03.Angular_basesPrimerProy.sql
// --  file    :   src\app\app.component.html
// --  ================================================================== -->
<h1> {{ title }} </h1>

<hr>
<app-counter> </app-counter>
<!-- "5Componente Hero y directorios":  -->
<app-Heroes-hero>  </app-Heroes-hero>

<app-Heroes-list>  </app-Heroes-list>

